@model IEnumerable<EnterprisesNew.Models.CompetenceRating>

@{
    ViewBag.Title = "Index";
}

<h2>Competences Ratings</h2>

<p>
    @Html.DropDownList("EnterpriseID", null, "All Enterprises", htmlAttributes: new { @class = "form-control", onchange = "document.location.href = '/CompetenceRatings/Index/' + this.options[this.selectedIndex].value;" })
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            Competence Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.Grade != null)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Competence.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
    </tr>
    }
}

</table>
